/nbproject/
/setup/
/src/java/com/myapp/struts/ApplicationResource.properties
/build.xml
/src/conf/MANIFEST.MF
/dir_conflicts.prej
/.svn/
/src/.svn/
/src/conf/
/src/java/.svn/
/src/java/catalogos/.svn/
/src/java/catalogos/alumnos/.svn/
/src/java/catalogos/datos_interes/.svn/
/src/java/catalogos/grupos/.svn/
/src/java/catalogos/listas/.svn/
/src/java/catalogos/redes_sociales/.svn/
/src/java/catalogos/cortes/.svn/
/src/java/com/
