/nbproject/
/setup/
/src/java/com/myapp/struts/ApplicationResource.properties
/build.xml
/src/conf/MANIFEST.MF
/dir_conflicts.prej
/.svn/
/src/.svn/
/src/conf/
/src/java/.svn/
/src/java/catalogos/.svn/
/src/java/catalogos/alumnos/.svn/
/src/java/catalogos/datos_interes/.svn/
/src/java/catalogos/grupos/.svn/
/src/java/catalogos/listas/.svn/
/src/java/catalogos/redes_sociales/.svn/
/src/java/catalogos/cortes/.svn/
/src/java/com/
/web/.svn/
/web/Catalogos/.svn/
/web/Catalogos/Alumnos/.svn/
/web/Catalogos/Cortes/.svn/
/web/Catalogos/Datos_interes/.svn/
/web/Catalogos/Genericos/.svn/
/web/Catalogos/Grupos/.svn/
/web/Catalogos/Listas/.svn/
/web/Catalogos/Redes_sociales/.svn/
/web/Estilos/.svn/
/web/Estilos/css/.svn/
/web/Estilos/css/dark-hive/.svn/
/web/Estilos/css/dark-hive/images/.svn/
/web/Estilos/images/.svn/
/web/Imagenes/.svn/
/web/JavaScript/.svn/
/web/JavaScript/js/.svn/
/web/META-INF/
/web/Menu/.svn/
/web/WEB-INF/.svn/
/web/WEB-INF/lib/
setup
.svn
/build
/web/WEB-INF/struts-config.xml
/web/WEB-INF/tiles-defs.xml
/web/WEB-INF/validation.xml
/web/WEB-INF/validator-rules.xml
/web/paginaError.jsp
/web/welcomeStruts.jsp
/dist/